<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Ocultar PHP">
                    <!-- Atrapa cualquier URL que no termine en extensión -->
                    <match url="^([^.]+)$" />
                    <conditions>
                        <!-- Solo aplica si el archivo físico .php existe -->
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
                    </conditions>
                    <!-- Reescribe internamente agregando .php -->
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
